<div class= "container">
  <div class="row mx-auto col-11 col-md-10 mt-4">
    <div class="h3">管理者ログイン</div>
  </div>
  
  <div class="row">
    <div class="mx-auto col-11 col-md-10 mt-4">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="text-center">
        <tr><th><%= f.label :メールアドレス %></th><td><%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30 %></td></tr>
　　　　<tr><th><%= f.label :パスワード %></th><td><%= f.password_field :password, autocomplete: "current-password", size: 30 %></td></tr>
      </table>
    </div>
  </div>
  
  <div class="actions text-center mt-4">
    <%= f.submit "ログイン", class:"btn btn-sm btn-primary " %>
  </div>
    <% end %>
      
    <%= render "admin/shared/links" %>
    </div>
  </div>
</div>