<%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集

<h4>会員ID</h4>
<span><%= @customer.id %></span>
<%= form_with model: @customer,url:admin_customer_path(@customer.id), method: :patch do |f| %>
<h4>氏名</h4>
  <span><%= f.text_field :last_name %><%= f.text_field :first_name %></span>
<h4>フリガナ</h4>
  <span><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></span>
<h4>郵便番号</h4>
  <span><%= f.text_field :postal_code %></span>
<h4>住所</h4>
  <span><%= f.text_field :address %></span>
<h4>電話番号</h4>
  <span><%= f.text_field :telephone_number %></span>
<h4>メールアドレス</h4>
  <span><%= f.text_field :email %></span>
<h4>会員ステータス</h4>

<%= f.submit'変更を保存', class:"btn btn-sm btn-success" %>

<% end %>