<h1>商品一覧</h1>

<% @items.each do |item| %>

<div class="item-image">
  <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x150" %>
  <% else %>
    <%= image_tag 'no-image', size: "200x150" %>
  <% end %>
</div>
<div class="item-name">
  <%= link_to item_path(item.id) do %><%= item.name %><% end %></div>
<div class="item-price"><%= item.price %></div>

<% end %>