<span class="item-image">
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "200x150" %>
  <% else %>
    <%= image_tag 'no-image', size: "200x150" %>
  <% end %>
</span>

<span class="item-name"><%= @item.name %></span>

<div class="item-introduction"><%= @item.introduction %></div>

<div class="item-price">¥<%= @item.price %></div>

<form>
    <%= form_with model: @cart_items do |f| %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.select :amount, *[1..10] %>
      <button type="submit">カートに入れる</button>
    <% end %>
</form>
